.main {
    width: 100%;
    height: fit-content;
    background-color: white;
    &_top {
        h2 {
            font-size: 45px;
            color: #3572da;
            font-family: 'Roboto Mono';
        }
        p {
            font-size: 25px;
            font-family: 'Caveat';
            color: grey;
        }
    }
    &_top:hover {
        h2 {
            color: gold;
            animation: jump .7s 1;
        }
    }
    .img {
        width: 350px;
        height: 350px;
        margin-left: 100px;
        background-position: center;
        background-size: cover;
        background-image: url(https://scontent.fuln6-1.fna.fbcdn.net/v/t1.6435-9/66780775_642829739551028_2429777859657596928_n.jpg?_nc_cat=1&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=jhuSAlSN-sMAX-V0Ib7&_nc_ht=scontent.fuln6-1.fna&oh=752068ae6efac49e0f3187a7ff54699d&oe=61C756F9);
        border-radius: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .bgimg {
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f7b08427-5510-4c5c-876b-66a2780883ed/d3gvei3-17fafe32-a82a-408b-a78a-4130c1e3669f.jpg/v1/fill/w_1024,h_768,q_75,strp/the_library_of_babel_by_owen_c_d3gvei3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzY4IiwicGF0aCI6IlwvZlwvZjdiMDg0MjctNTUxMC00YzVjLTg3NmItNjZhMjc4MDg4M2VkXC9kM2d2ZWkzLTE3ZmFmZTMyLWE4MmEtNDA4Yi1hNzhhLTQxMzBjMWUzNjY5Zi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.zJ-hthwYkrVNOpGynMX8Kkzjj-oSx08HY7Qy4pDe8oM);
    }
    .ddside {
        margin: 20px 0px;
        .dd {
            display: flex;
            gap: 80px;
            justify-content: center;
            div {
                 width: 185px;
                 height: 260px;
                 background-color: black;
                .style {
                    width: 205px;
                    height: 275px;
                    background-image: url(https://i.pinimg.com/564x/84/9b/d3/849bd3ee633dc2bdb2c111ba5b2a8f60.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 3px solid black;
                }
                .text {
                    width: 205px;
                    height: 70px;
                    background-color: #ffc8c8;
                    border: 3px solid black;
                    h3 {
                        color: black;
                        font-size: 21px;
                        font-family: 'Roboto Mono';
                    }
                    p {
                        font-family: 'Caveat';
                        font-size: 25px;
                        text-align: center;
                        font-weight: bold;
                    }
                }
                .one {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 205px;
                    height: 250px;
                    background-image: url(https://i.redd.it/lrpeyp6wpor41.png);
                    border: 3px solid black;
                }
                .two {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 205px;
                    height: 250px;
                    background-image: url(https://i.pinimg.com/originals/e1/ea/d6/e1ead6a9dc50dedf637013b1c3c25412.jpg);
                    border: 3px solid black;
                }
                .thre {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 205px;
                    height: 250px;
                    background-image: url(https://i.pinimg.com/564x/87/1f/29/871f29f0546f02fe75b39212e3010140.jpg);
                    border: 3px solid black;
                }
            }
        }
    }
}
@keyframes jump {
    0% {
        transform: scale(1);
    }


    50% {
        transform: scale(1.25);
    }

    80% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}